.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 0;
}

.pageLabel {
    color: var(--c-white);
    font-size: 14px;
    min-width: 24px;
    text-align: center;
}

.pageInput {
    max-width: 100px;

    input {
        padding: 8px;
        text-align: center;
        min-height: 40px;
    }
}
