@use '@/styles/responsive' as r;

.shell {
    width: 100%;
    min-height: 100dvh;
    padding: 0 16px 16px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include r.responsiveAbove(720px) {
        padding-top: 8px;
    }
}
